In [1]:
print("hello world")
print("the jupyter notebook is autocomplete")

hello world
the jupyter notebook is autocomplete

In [2]:
for i in (1,11):
    print(i)

1
11

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [7]:
print("interpreter test 1")
print("initiating")

interpreter test 1
initiating

In [1]:
print("hello world")

hello world

In [2]:
#comments will always start with a hash in python
#creating a variable
i = 42

In [3]:
print(i)

42

In [4]:
i   = "Dagar"

In [5]:
print(i)

Dagar

In [6]:
#1abc is an invalid identifier/variable name
print(type(i))

<class 'str'>

In [15]:
i = 42
print(type(i))

<class 'int'>

In [16]:
id(i)

4367322752

In [14]:
#python is a dynamic typed language. Eg no need to define a variable for sepaarate datatypes. We can store and integer as well as a string in the variable x without specifically changing its data type
#integer float string boolean none, pay special attention to none
my_num  = 7838387677
print(my_num)
#everything in python is an object
type(my_num)

7838387677

int

In [21]:
x  = 2 + 3j
#the type of x in this case will be complex number, complex number just like we studied in maths
print(x)

(2+3j)

In [22]:
#i think that only j is used for representing the complex part of a complex number
str = "python is kinda fun, but i dont really care about that, all I want to do is to create my own compiler and my own programmign language"
print(str)

python is kinda fun, but i dont really care about that, all I want to do is to create my own compiler and my own programmign language

In [1]:
name = input("input a name please")

input a name pleaseSagar

In [2]:
print(name)

Sagar

In [3]:
#the value entered is stored int the variable name
#just like the variables in c++ the value "sagar" is stored in the variable name inside a box just like we used to imagine box
#also every input taken using the input method is always always  converted to a string, we have to use type casting to convert it back to the types we want, because the default input value is always string in python

In [4]:
num = int(input("enter a number please ")) # this is how we do the typecasting. so for input we will be doing int(input()) i suppose

enter a number please 10

In [5]:
type(num)

int

In [6]:
# yay it worked, the type of num is int. We typecasted successfully
#lets take our age as input
age = int(input("enter your age please "))

enter your age please 24

In [7]:
print(age)
print(type(age))

24
<class 'int'>

In [8]:
#arre statement means the code that we write. it could be either multiline or single line
#to continue a same code in next line we can use the backward slash,
# 1+2+3+4+5+6+7+8+9+0 can also be written as
# 1+2+3+4\
# 5+6+7+8+9+0 this is just another way of writing instead of writing everything in one line.

In [9]:
#lets understand output formatting in pyton

In [10]:
a = 10
b = 20
print("the value of a is ", a)

the value of a is  10

In [11]:
print("the value of variable a is {} and of b is {}".format(a,b))
#the first parameter of format function will go to a and the second valur of the parameter  will go the variable b, this is how it is done in python now.

the value of variable a is 10 and of b is 20

In [12]:
print("value of b is {1} and value of a is {0}".format(a,b)) # this way b will go the place 1 and value of a will go to place 2

value of b is 20 and value of a is 10

In [13]:
grade1  = 25
grade2 =  75
average = grade1 + grade2/grade1 + grade2/2
print(average)

65.5